html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

body {
  flex-direction: column;
  display: flex;
}

.navbar {
  position: relative;
  width: 100%;
  height: 716px;
  background-position: center;
  background-size: cover;
  text-align: right;
  margin-bottom: 0%;
  padding-top: 10%;
  margin: 0%;
  background-attachment: fixed;
  color: whitesmoke;
}

.nav_buttons {
  position: fixed;
  -webkit-backdrop-filter: blur(6px);
  opacity: 200%;
  /*makes any backdrop the navbar has passed blur*/
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  text-align: right;
  height: 103px; /* Adjust the height as needed */
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.h2 {
  text-align: center;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 1%;
  font-size: 2rem;
  align-content: center;
}

.navbar ul li a {
  text-decoration: solid;
  color: black;
  transition: 0.3s ease 0s;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.img_nav {
  width: 7rem;
  height: 7rem;
  margin-bottom: 20%;
  margin-right: 51%;
  align-content: left;
  float: left;
  padding: -1%;
}

/*CSS for index page*/

.center {
  text-align: center;
  font-size: 2rem;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.center_1 {
  text-align: center;
  font-size: 9rem;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about_us {
  position: relative;
  height: 716px;

  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 20rem;
  background-attachment: fixed;
  float: left;
}

.about_us .parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.why_us {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
  height: 1rem;
  width: 24rem;
  background-color: transparent;
  margin-right: 20%;
  margin-left: 8%;
  color: black;
  padding: 0px;
  float: left;
}

.why_us_1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  height: 10rem;
  width: 40rem;
  float: center;
  background-color: transparent;
  margin-left: 55%;
  color: black;
  padding: 0%;
  font-size: small;
}

.redirect_courses {
  padding: auto;
  width: 90rem;
  height: 42rem;
  align-self: center;
  background-color: #0b2149;
}

.text_redirect {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: medium;
  padding: 2%;
}

.text_redirect_2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: whitesmoke;
  font-size: medium;
  padding: 2%;
  font-size: large;
}

.text_redirect_2 ul li {
  list-style-type: none;
  margin: 1%;
  font-size: 2rem;
  align-content: center;
}

.text_redirect_2 ul li a {
  text-decoration: none;
  transition: 0.3s ease 0s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
}

.text_redirect_2 ul li:hover {
  text-decoration: underline;
}

.Integration {
  margin-right: 21px;
  font-size: 20px;
  color: whitesmoke;
}

.Complex_numbers {
  margin-right: 21px;
  font-size: 20px;
  color: whitesmoke;
}

.Differentiation {
  margin-right: 21px;
  font-size: 20px;
  color: whitesmoke;
}

.internals {
  margin-right: 50px;
}

.conics {
  color: whitesmoke;
  margin-right: 21px;
  font-size: 20px;
}

.trig {
  color: whitesmoke;
  margin-right: 21px;
  font-size: 20px;
}

.space {
  /*extra space*/
  height: 2rem;
}

.facts {
  height: 25rem;
  width: 100%;
  background-color: white;
}

.header_facts {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  color: white;
  margin: 4%;
}

.text_facts {
  width: 30rem;
  height: 20rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  font-weight: 100;
  margin: 4%;
  color: white;
  padding: 0px;
}

.text_member {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 30rem;
  margin: 4%;
  margin-left: 34%;
  text-align: center;
  font-size: large;
  text-transform: initial;
}

.text_member_2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 30rem;
  margin: 4%;
  margin-left: 34%;
  text-align: center;
  font-size: large;
}

.Sign_me_up {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 30rem;
  height: 20rem;
  margin: 4%;
  margin-left: 47%;
  color: black;
  text-decoration: underline;
  border: none;
  font-size: large;
  padding: 13px, 25px;
  border: 12px, 40px;
}

.become:hover {
  color: red;
}

.footer {
  width: 100%;
  height: 26rem;
  background-color: #0b2149;
}

.message {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 30rem;
  margin: 4%;
  margin-left: 34%;
  text-align: center;
  font-size: large;
  color: white;
}

.contact_header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 30rem;
  margin: 4%;
  margin-left: 34%;
  text-align: center;
  font-size: large;
  color: white;
}

.contact_info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 30rem;
  margin: 4%;
  margin-left: 34%;
  text-align: center;
  font-size: large;
  color: white;
}

.img_footer {
  width: 6rem;
  height: 6rem;
}

/*CSS for signup page*/
.navbar_1 {
  position: relative;
  width: 100%;
  height: 16px;
  background-position: center;
  background-size: cover;
  text-align: right;
  margin-bottom: 0%;
  padding-top: 10%;
  margin: 0%;
  background-attachment: fixed;
  color: whitesmoke;
}

.nav_buttons_1 {
  position: fixed;
  -webkit-backdrop-filter: blur(6px);
  opacity: 200%;
  /*makes any backdrop the navbar has passed blur*/
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  text-align: right;
  height: 153px; /* Adjust the height as needed */
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.navbar_1 ul li {
  list-style-type: none;
  display: inline-block;
  margin: 1%;
  font-size: 2rem;
  align-content: center;
}

.navbar_1 ul li a {
  text-decoration: solid;
  color: black;
  transition: 0.3s ease 0s;
  font-family: "Courier New", Courier, monospace, "Lucida Sans", Arial,
    sans-serif;
  font-size: 1.3rem;
}

.navbar_1 ul li a:hover {
  text-decoration: underline;
}

.left_side {
  font-size: 1rem;
  height: 35rem;
  width: 40rem;
  float: center;
  background-color: #2c533c;
  margin: 1%;
  color: black;
  padding: 0%;
  display: flex;
  column-gap: 20px;
}

.left_side_text {
  font-family: "Source Serif Pro", "Noto Serif", serif;
  width: 30rem;
  margin: 4%;
  margin-top: 30%;
  margin-left: 10%;
  text-align: center;
  font-size: large;
  color: white;
  font-size: 2rem;
}

.text_signup {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  margin-bottom: 5px;
}

.sign_up {
  background-color: transparent;
  margin-left: 10%;
  width: 30rem;
  margin-top: 15px;
}

.sign_up_text {
  font-family: "Source Serif Pro", "Noto Serif", serif;
  width: 30rem;
  margin: 4%;
  margin-top: 5%;
  text-align: center;
  font-size: large;
  color: black;
  font-size: 1rem;
}

.parent_sign {
  display: flex;
}
#form {
  width: 400px;
  margin-bottom: 5px;
  background-color: transparent;
  border-radius: 5px;
  padding: 30px;
  font-family: "Source Serif Pro", "Noto Serif", serif;
}

h1 {
  text-align: center;
  color: white;
}

.container {
  margin-left: 20px;
  margin-top: 5px;
}

#form button {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0px;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  font-family: "Source Serif Pro", "Noto Serif", serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: "Source Serif Pro", "Noto Serif", serif;
}

.input-group input {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  font-family: "Source Serif Pro", "Noto Serif", serif;
}

.input-group input:focus {
  outline: 0;
}

.input-group .error {
  color: rgb(242, 18, 18);
  font-size: 16px;
  margin-top: 5px;
}

.input-group.success input {
  border-color: #0cc477;
}

.input-group.error input {
  border-color: rgb(206, 67, 67);
}

/*CSS for login page*/
.navbar_2 {
  position: relative;
  width: 100%;
  height: 16px;
  background-position: center;
  background-size: cover;
  text-align: right;
  margin-bottom: 0%;
  padding-top: 10%;
  margin: 0%;
  background-attachment: fixed;
  color: whitesmoke;
}

.nav_buttons_2 {
  position: fixed;
  -webkit-backdrop-filter: blur(6px);
  opacity: 200%;
  /*makes any backdrop the navbar has passed blur*/
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  text-align: right;
  height: 153px; /* Adjust the height as needed */
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.navbar_2 ul li {
  list-style-type: none;
  display: inline-block;
  margin: 1%;
  font-size: 2rem;
  align-content: center;
}

.navbar_2 ul li a {
  text-decoration: solid;
  color: black;
  transition: 0.3s ease 0s;
  font-family: "Courier New", Courier, monospace, "Lucida Sans", Arial,
    sans-serif;
  font-size: 1.3rem;
}

.navbar_2 ul li a:hover {
  text-decoration: underline;
}
